# Compiler files
cache/
out/

# Ignores development broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/314159/
/broadcast/
/broadcast/**/dry-run/

# Docs
docs/

# Dotenv file
.env

# Zokrates files
abi.json
out
out.r1cs
out.wtns
proof.json
proving.key
verification.key
witness
verifier.sol